# Inventaire Ansible - Infrastructure Haute Disponibilité
# Mega TP - Administration de systèmes répartis

all:
  vars:
    # Configuration réseau globale
    network_prefix: "192.168.56"
    vip_address: "192.168.56.100"
    vip_cidr: "24"
    vip_interface: "eth1"
    
    # Configuration du domaine
    domain_name: "lab.local"
    domain_netbios: "LAB"
    
    # Configuration Zabbix
    zabbix_server: "192.168.56.10"
    zabbix_server_port: "10051"
    zabbix_agent_port: "10050"
    
    # Configuration du cluster
    cluster_name: "ha-cluster"
    cluster_auth_key: "SuperSecretClusterKey2025!"

  children:
    # ============================================
    # Groupe: Serveur d'administration
    # ============================================
    admin_servers:
      hosts:
        admin:
          ansible_host: 192.168.56.10
          ansible_user: vagrant
          ansible_ssh_private_key_file: /home/vagrant/.ssh/id_rsa
          ansible_become: yes
          ansible_become_method: sudo
          ansible_python_interpreter: /usr/bin/python3

    # ============================================
    # Groupe: Nœuds du cluster HA (RedHat)
    # ============================================
    ha_cluster:
      hosts:
        node01:
          ansible_host: 192.168.56.11
          ansible_user: ansible
          ansible_ssh_private_key_file: /home/vagrant/.ssh/id_rsa
          ansible_become: yes
          ansible_become_method: sudo
          ansible_python_interpreter: /usr/bin/python3
          # Configuration spécifique au nœud
          node_id: 1
          node_priority: 100
          
        node02:
          ansible_host: 192.168.56.12
          ansible_user: ansible
          ansible_ssh_private_key_file: /home/vagrant/.ssh/id_rsa
          ansible_become: yes
          ansible_become_method: sudo
          ansible_python_interpreter: /usr/bin/python3
          # Configuration spécifique au nœud
          node_id: 2
          node_priority: 50

      vars:
        # Configuration RedHat/CentOS
        ansible_pkg_mgr: dnf
        
        # Ports à ouvrir sur le pare-feu
        firewall_services:
          - ssh
          - http
          - https
          - high-availability
          - samba
        
        firewall_ports:
          - 10050/tcp   # Zabbix Agent
          - 10051/tcp   # Zabbix Server (trapper)
          - 2224/tcp    # PCS Web UI
          - 3121/tcp    # Pacemaker Remote
          - 5403/tcp    # Corosync Qdevice
          - 5404/udp    # Corosync multicast
          - 5405/udp    # Corosync multicast
          - 21064/tcp   # DLM
          - 9929/tcp    # Booth ticket manager
          - 9929/udp    # Booth ticket manager

    # ============================================
    # Groupe: Serveurs Windows
    # ============================================
    windows_servers:
      hosts:
        winsrv:
          ansible_host: 192.168.56.13
          ansible_user: vagrant
          ansible_password: vagrant
          ansible_connection: winrm
          ansible_winrm_transport: basic
          ansible_winrm_port: 5985
          ansible_winrm_scheme: http
          ansible_winrm_server_cert_validation: ignore
          
          # Configuration Active Directory
          ad_domain_name: "lab.local"
          ad_domain_netbios: "LAB"
          ad_safe_mode_password: "P@ssw0rd2025!"
          ad_admin_password: "Admin2025!"

    # ============================================
    # Groupe: Tous les serveurs Linux
    # ============================================
    linux_servers:
      children:
        admin_servers:
        ha_cluster:

    # ============================================
    # Groupe: Serveurs Zabbix
    # ============================================
    zabbix_servers:
      hosts:
        admin:

    # ============================================
    # Groupe: Agents Zabbix
    # ============================================
    zabbix_agents:
      children:
        ha_cluster:
