---
# Variables pour le groupe windows_servers

# Configuration Active Directory
ad_domain_name: "lab.local"
ad_domain_netbios: "LAB"
ad_safe_mode_password: "P@ssw0rd2025!"
ad_admin_password: "Admin2025!"

# Configuration WinRM
ansible_connection: winrm
ansible_winrm_transport: basic
ansible_winrm_port: 5985
ansible_winrm_scheme: http
ansible_winrm_server_cert_validation: ignore
